
body{
    background-image: url("https://us.123rf.com/450wm/andrija123paja/andrija123paja1709/andrija123paja170900038/86043379-roulette-wheel-roulette-desk-black-background-3d-rendering-.jpg?ver=6");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


h1{
    /* text-align: center; */
    font-weight: bold;
    font-size:55px;
    color:gold;
}

#on{
    margin-left: 5%;
    font-size: 35px;
}
#off{font-size: 35px;
    margin-left: 10%;
}

#t{
    margin-left:15%;
    margin-right:auto;
    margin-top:17%;
    text-align:center;
    font-size:50px;
    color:white;
    font-weight: bold;
    height: 80px;
    width:80px;

    
    
}